.container {
    padding: 0;
}

.content {
    background-color: #FFFFFF;
}

.logo {
    width: 100px;
    height: 100px;
}

.banner {
    width: 100%;
    height: 100%;
}

.btn {
    margin-top: 30px;
    cursor: pointer;
}